@import "../../media/variables";

.align_right {
  text-align: right !important;
}

.centered{
  width: 60%;
  padding-left: 20%;
}
.increase-btn {
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  &__item {
    width: 80%;
    position: relative;
    cursor: pointer;
    flex-basis: 25%;
    height: 24px;
    margin: 0;
    font-family: $font-ssp;
    font-weight: 500;
    font-size: 0.875em;
    line-height: 19px;
    color: $color-gray4;
    outline: none;
    text-decoration: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 10%;
    transition: border-color 300ms ease-in-out, background-color 300ms;
    &:hover {
      color: $color-white;
      background-color: $color-gray1;
      font-weight: bold;
      padding-left: 9.5%;
      .delete-btn{
        font-weight: normal;
        right: -10.5%;
      }
    }
    .delete-btn {
      color: tomato;
      line-height: 24px;
      width: 10%;
      position: absolute;
      right: -10%;
      &:hover {
        border: 1px tomato dashed;
        font-weight: bold;
        padding: -1px;
      }
    }

    .item-index{
      .hide-on-mobile{}
      font-size: calc(8px + 1vmin);
    }
    .placeName{
      text-align: left;
      color: $color-gray11;
      padding-left: 20px;
      padding-right: 20px;
      width: 10vw;
      min-width: 40px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 500px) {
  .hide-on-mobile {
    display: none;
  }
}