@import "./media/variables";

.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  position: absolute;
  top: 0.5vh;
  -webkit-animation:linear infinite alternate;
  -webkit-animation-name: run;
  -webkit-animation-duration: 10s;
  height: 2vmin;
}
.clear {
  clear: both;
}
.red {color: $color-pink;}
.right{float: right;}

.listing{
  width: 100%;
  height: 10vmin;
  position: relative;
  text-align: left;
  cursor: pointer;
  flex-basis: 25%;
  margin: 0;
  font-family: "SourceSansPro", sans-serif;
  font-weight: 500;
  font-size: calc(8px + 1vmin);
  color: #6b7881;
  outline: none;
  text-decoration: none;
  border: none;
  display: flex;
  justify-content: left;
  padding-top: 0.2vmin;
  padding-bottom: 0.2vmin;
  overflow: hidden;
  &:hover {
    background-color: $color-gray1;
    .listing-text{
      p:last-child{
        //color: $color-label;
        color: $color-label !important;
      }
    }
  }
  .listing-item{
    width: 100%;
    position: relative;
    .listing-options{
      display: inline-block;
      max-width: 44%;
      .favs-wrapper{
        display: inline-block;
        min-width: 14vmin;
        span{
          padding-top: 2vmin;
          padding-bottom: 2vmin;
        }
        .favs-hide-on-hover{
          display: inline-block;
          color: red;
        }
        .favs-show-on-hover{
          display: none;
        }
        &:hover{
          color: $color-white;
          .favs-show-on-hover{
            display: inline-block;
            color: red;
          }
          .favs-hide-on-hover{
            display: none;
          }
        }
      }
      span{
        padding: 4px;
        //height: 10vmin;

        position: relative;
        top: -4vmin;

        .listing-index{
          color: red;
          //display: inline-block;
          //height: 10vmin;
          //vertical-align: middle;
          min-width: 50px;
        }
      }
      .listing-img {
        height: 10vmin;
        img{
          //height: 10vmin;
        }
      }
      &:before{
        //content: "";
        //display: inline-block;
        //height: 100%;
        //vertical-align: middle;
      }
    }
    .listing-text{
      display: inline-block;
      max-width: 52%;
      margin-left: 2%;
      p{
        margin: 0;
      }
      p:first-child{
        text-align: center;
        min-width: 36vmin;
        span:first-child{
          float: left;
        }
      }
      div{
        width: 100%;
        height: 10px;
      }
      p:last-child{
        font-size: calc(5px + 1vmin);
        color: $color-gray10;
      }
    }
  }

}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  p:first-child, a:first-child{
    margin-top: 30px;
  }
  p:last-child, a:last-child{
    margin-top: 0;
  }
}
a.App-header{
  text-decoration: none;
  margin-top: 4px;
}
.App-link {
  color: #61dafb;
  margin: 0 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes run {
  0% { left: 0;}
  50%{ left : 85%;}
  100%{ left: 0;}
}
